.small {
  padding: 4px;
}

.medium {
  padding: 6px;
}

.large {
  padding: 10px;
}

.outline {
  outline: none;
}

.border {
  border: none;
}

.borderRadius {
  border-radius: 6px;
}

.primary {
  width: 100%;
  color: var(--primary-text);
  border: 2px solid var(--header-nav);
  background-color: var(--header-nav);
}

.primary:focus {
  border: 2px solid var(--header-nav);
  box-shadow: 0 0 4px 2px var(--header-nav);
}
