.separation {
  width: 100%;
  border-bottom: 1px solid var(--border-bottom);
  margin: 12px 0;
}

.title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 14px;
  border-radius: 12px;
  background-color: var(--header-nav);
}

/* Responsive */
@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .blog__item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .blog__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .blog__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
