.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.left {
  flex: 1;
  padding: 0 10px;
}

.right {
  flex: 1;
  padding: 0 10px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  text-align: justify;
}

.right__title_blog {
  font-size: 1.5rem;
  font-weight: 800;
}
