@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;400;500;600;700&family=Rubik+Glitch&family=Sacramento&display=swap");

:root {
  /* define colors */
  --primary-text: #ffffff;
  --header-nav: #000000;
  --header-border-bottom: #333;

  /* define bg colors */
  --primary-bg: radial-gradient(
    circle,
    rgba(0, 21, 59, 1) 0%,
    rgba(13, 19, 51, 1) 100%,
    rgba(255, 0, 0, 1) 100%
  );

  /* define font-family */
  --primary-font: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--primary-font);
  background: var(--primary-bg);
  color: var(--primary-text);
  height: 180vh;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Css layout common */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Scrollbar Css */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--primary-bg);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* selected text */
/* ::selection {
  background-color: #08080810;
  color: #fff;
} */
