@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300;400;500;600;700&family=Rubik+Glitch&family=Sacramento&display=swap");

:root {
  /* define colors */
  --primary-text: #ffffff;
  --text: rgba(13, 19, 51, 1);
  --text-gray-900: #a1a1a1;
  --border-bottom: #eee;
  --header-nav: #000000;
  --header-border-bottom: #333;
  --message-failure: #ff0000;

  /* define bg colors */
  --primary-bg: radial-gradient(
    circle,
    rgb(4, 41, 109) 0%,
    rgb(245, 246, 252) 100%,
    rgba(255, 0, 0, 1) 100%
  );

  /* radial-gradient(
    circle,
    rgba(0, 21, 59, 1) 0%,
    rgb(245, 246, 252) 100%,
    rgba(255, 0, 0, 1) 100%
  ); */

  /* rgba(13, 19, 51, 1) 100%, */

  /* define font-family */
  --primary-font: "Nunito", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--primary-font);
  background: var(--primary-bg);
  color: var(--primary-text);
  /* height: 180vh; */
}

a {
  color: inherit;
  text-decoration: none;
}

/* Loading */
.loading__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading__full_page {
  animation: spin___loading__full_page 0.8s linear infinite;
}

@keyframes spin___loading__full_page {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Page not found */
.not___found_container,
.error__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.not___found_title,
.error__title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.not___found_subtitle,
.error__subtitle {
  font-size: 2.2rem;
  font-weight: 700;
}

/* Css layout common */
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* Scrollbar Css */
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--primary-bg);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

/* selected text */
/* ::selection {
  background-color: #08080810;
  color: #fff;
} */
