.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
}

.type__login {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    margin: 40px;
  }
}
