.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--border-bottom);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.blog__item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 14px;
  border-radius: 12px;
  background-color: var(--header-nav);
}

.message__no_blog {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-gray-900);
  margin: 24px 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .blog__item {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .blog__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .blog__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .top {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
