.form {
  display: flex;
  flex-direction: column;
  width: 42%;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid var(--header-nav);
  box-shadow: 0 0 10px 1px var(--header-nav);
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.message__note {
  font-size: 1.2rem;
}

.message_lbl {
  color: var(--message-failure);
}

.message__failure {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: var(--message-failure);
}

.login {
  font-size: 1.2rem;
}

.login__link {
  margin-left: 4px;
  font-weight: 600;
  border-bottom: 1px solid var(--primary-text);
}

.login__link:hover {
  opacity: 0.6;
  transition: all 0.6s;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
