.form {
  display: flex;
  flex-direction: column;
  width: 42%;
  gap: 20px;
  padding: 40px;
  border-radius: 12px;
  border: 1px solid var(--header-nav);
  box-shadow: 0 0 10px 1px var(--header-nav);
}

.title {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .form {
    width: 100%;
  }
}
